.mainpage .stepper-nav {
    background-color: #444;
}

.stepper-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

    button {
        border: 1px solid whitesmoke;
        border-right: 0px;
        margin: 0px;
        width: 100%;
    }

    button#step3 {
        border-right: 1px solid whitesmoke;
    }
}